<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url "create_receipt" %}">Create Expenses</a></li>
          <li><a href="{% url "category_list" %}">My categories</a></li>
          <li><a href="{% url "create_category" %}">Create categories</a></li>
          <li><a href="{% url "account_list" %}">My accounts</a></li>
          <li><a href="{% url "create_account" %}">Create accounts</a></li>
          <li><a href="{% url "logout" %}">Logout</a></li>
          {% else %}
          <li><a href="{% url "signup" %}">Sign Up</a></li>
          <li><a href="{% url "login" %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block main %}
    {% endblock main %}
  </body>
</html>

<main>
  <div>
    <h1></h1>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
