{% extends "base.html" %}

{% block title %}
  <title>Accounts - Expenses</title>
{% endblock title %}
{% block main %}
  <main>
    <h1>Accounts</h1>
    <h3><a href="{% url "create_account" %}">Create a account</a></h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for account in account_list %}
          <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.number }}</td>
            <td>{{ account.receipts.all | length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock main %}
