{% extends "base.html" %}

{% block title %}
  <title>Categories - Expenses</title>
{% endblock title %}
{% block main %}
  <main>
    <h1>Categories</h1>
    <h3><a href="{% url "create_category" %}">Create a category</a></h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category_list %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.all | length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock main %}
