{% extends "base.html" %}

{% block title %}
  <title>Create - Expenses</title>
{% endblock title %}
{% block main %}
  <main>
    <div>
      <h1>Create Receipt</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
      </form>
    </div>
  </main>
{% endblock main %}
